
#header img{
    width: 175px;
}

#main .carousel-inner img{
    max-width: 70vh;
    object-fit: cover;
}


#footer{
    background: #1A5831;
    color: #fff;
}

#footer a{
    color: #fff;
    
} 

.rrss{
    
    font-size: 1.3em;
}